### Mobile Movies API Wrapper

#### Step to run tests

1. run `npm install` to install
1. run `npm run test` to run unit tests
1. run `npm run test:cov` to run unit tests and generate coverage report

#### Test Coverage Report

48 passing (362ms)

--------------------------------------|----------|----------|----------|----------|-------------------|
File | % Stmts | % Branch | % Funcs | % Lines | Uncovered Line #s |
--------------------------------------|----------|----------|----------|----------|-------------------|
All files | 100 | 100 | 100 | 100 | |
mobile-movies-api-wrapper | 100 | 100 | 100 | 100 | |
index.js | 100 | 100 | 100 | 100 | |
mobile-movies-api-wrapper/src | 100 | 100 | 100 | 100 | |
CompatibilityApi.js | 100 | 100 | 100 | 100 | |
EmergencyMessagesApi.js | 100 | 100 | 100 | 100 | |
MovieDetailApi.js | 100 | 100 | 100 | 100 | |
OrdersApi.js | 100 | 100 | 100 | 100 | |
TheaterDetailApi.js | 100 | 100 | 100 | 100 | |
mobile-movies-api-wrapper/src/common | 100 | 100 | 100 | 100 | |
helper.js | 100 | 100 | 100 | 100 | |
